[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "*"
keras = "*"
panda = "*"
psraw = "*"
matplotlib = "*"
tqdm = "*"
ipywidgets = "*"
pillow = "*"
pandas = "*"
sklearn = "*"
tensorflow = "*"
nltk = "*"
keras-vggface = {git = "https://github.com/rcmalli/keras-vggface.git"}

[requires]
python_version = "3.6"
